body {
    margin: 0;
}

#app_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    padding: 40px 10px 0 10px;
}

.inputs-container {
    padding: 20px 10px 20px 10px;
}

.top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.menu {
    position: absolute;
}

.crud_menu{
    display: flex;
    align-items: center;
    text-align: center;
}

.menu_options {
    opacity: 0;
    pointer-events: none;
}

#inputs_modal_content {
    padding: 120px 120px 120px 120px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#inputs_modal_content input {
    padding: 10px 50px 10px 50px;
    border: 1px solid #95a5a6;
    border-radius: 3px;
}

#inputs_modal_content select {
    padding: 10px 105px 10px 105px;
    border: 1px solid #95a5a6;
    border-radius: 3px;
}

.task_container {
    border-radius: 3px;
    border: 1px solid rgba(152, 152, 152, 0.413);
    box-shadow: 1px 1px 200px rgb(191, 191, 191);
    width: 250px;
    height: 250px;
}

.modal_backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.220);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.modal_content {
    background-color: white;
    border-radius: 7px;
    padding: 20px 25px 20px 25px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.standard_btn {
    padding: 10px 5px 10px 5px;
    background-color: #95a5a6;
}

.standard_btn:hover {
    background-color: #7f8c8d;
}

.danger_btn {
    padding: 10px 25px 10px 25px;
    background-color: #e74c3c;
}

.danger_btn:hover {
    background-color: #c0392b;
}

button {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.320);
    color: #ffff;
    cursor: pointer;
    font-weight: bolder;
    transition: background-color 0.5s;
}

hr {
    width: 100%;
    border-color: rgba(0, 0, 0, 0.151)
}

.modal_btns {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 20px;
}

#inside-edit-modal {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 80px 25px 80px 25px;
}