.top_container_task {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 0;
    padding: 10px 10px 10px 10px;
}

.title_and_dots {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.del_popup {
    font-weight: bolder;
    position: relative;
    height: 40px;
    cursor: pointer;
    user-select: none;
}

.menu {
    display: flex;
    margin-top: 20px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    flex-direction: column;
    gap: 20px;
}

.icon {
    color: red;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.inputs-container {
    display: flex;
    align-items: center;
}

.text-inp {}

.button {}

.task_container {
    width: fit-content;
    max-width: 100px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    border-radius: 3px;
    border: 1px solid rgba(152, 152, 152, 0.25);
    box-shadow: 1px 1px 200px rgb(191, 191, 191);
}

.title {
    max-width: 100px;
    font-weight: bold;
}

.description {
    font-weight: lighter;
    color: rgba(128, 128, 128, 0.696);
    font-size: 14px;
}

.modal_backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.220);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.7s;
}

.modal_content {
    background-color: white;
    border-radius: 7px;
    padding: 20px 25px 20px 25px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.modal-text {
    display: flex;
    flex-direction: column;
    line-height: 0;
    width: 100%;
    text-align: left;
}

.standard_btn {
    padding: 10px 5px 10px 5px;
    background-color: #95a5a6;
}

.standard_btn:hover {
    background-color: #7f8c8d;
}

.danger_btn {
    padding: 10px 25px 10px 25px;
    background-color: #e74c3c;
}

.danger_btn:hover {
    background-color: #c0392b;
}

button {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.320);
    color: #ffff;
    cursor: pointer;
    font-weight: bolder;
    transition: background-color 0.5s;
}

hr {
    width: 100%;
    border-color: rgba(0, 0, 0, 0.151)
}

.modal_btns {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 20px;
}

#inside-edit-modal {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 80px 25px 80px 25px;
}

.category_badge {}